{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
{{ end }}
<!-- PropellerAds Push Notifications --><script src="https://propu.sh/pfe/current/tag.min.js?z=3357961" data-cfasync="false" async></script>
<!-- PropellerAds Onclick Popunder --><script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',3357975,document.body||document.documentElement)</script>
<!-- RevenueHits --><script data-cfasync='false' type='text/javascript' src='//p402193.clksite.com/adServe/banners?tid=402193_789370_0&tagid=2'></script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "398bd4f875a04648b7c5a743bed0583d"}'></script><!-- End Cloudflare Web Analytics -->